body {
  background-color: #ffffff;
  padding: 10px;
}

.image-space {
  text-align: center;
}

img {
  height: auto;
  width: 700px;
  align-items: center;
}

div {
  background-color: #f9f4e1;
  border-radius: 20px;
  padding: 5px;
}

h1 {
  text-align: center;
}

li {
  margin: 10px;
}

ul li a {
  color: black;
  text-decoration: none;
}
