body {
  background-color: #ffffff;
  padding: 10px;
}

h1 {
  text-align: center;
}

.image-space {
  text-align: center;
}

.recipe-text {
  padding-left: 30px;
  padding-right: 30px;
}

img {
  height: auto;
  width: 700px;
  padding: 20px;
}

div {
  background-color: #f9f4e1;
  border-radius: 20px;
  padding: 5px;
}

button {
  margin-left: 50px;
  margin-top: 20px;
}
